/* CSS Variables*/
:root {
    --primary: rgb(65, 204, 223);
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: rgb(255, 253, 253);
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--primary);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border-radius: 8px;
}

.btn:hover {
    background: var(--dark);
}

img {
    max-width: 100%;
}

video {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

h2 {
    font-size: 2rem;
    color: var(--light);
}

h3{
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
    color: var(--primary);
}

/*Navigation*/
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    border-radius: 6px;
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

/* Top Container*/

.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'showCase showCase top-box-a'
    'showCase showCase top-box-b';
    }

/* showcase */
.showCase {
    grid-area: showCase;
    min-height: 400px;
    background: url(Img/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showCase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
    text-shadow: var(--shadow);
}

.showCase p {
    font-size: 2.0rem;
    text-decoration: solid;
   font-style: italic;
    margin-top: 0;
    color: var(--light);
    text-shadow: var(--shadow);
}
/* Top Box */

.top-box {
    background: rgb(255, 254, 254);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box h4, p, h3 {
    color: var(--light);
}

.top-box .price {
    font-size: 1rem;
    color: var(--dark);
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}



/* Boxes */
.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.box {
 box-shadow: var(--shadow);
}

.info {
    background: var(--light);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}
.info img {
    align-self: start;
}

/* portfolio */

.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}

/* footer */
footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

/* Media Queries */

@media(max-width: 700px) {
    .top-container {
        grid-template-areas: 
        'showCase showCase'
        'top-box-a top-box-b';
    }

    .showCase h1 {
        font-size: 2.5rem;
    }

    .showCase p{
        font-size: 1rem;
    }

    .main-nav ul {
        grid-template-columns: 1fr;
    }

    .info {
        grid-template-columns: 1fr;
    }

    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .top-container {
        grid-template-areas: 
        'showCase'
        'top-box-a'
        'top-box-b';
    }

    .showCase h1 {
        font-size: 2rem;
    }

    .main-nav ul {
        grid-template-columns: 0.5fr;
        justify-content: center;
        
    }

    .main-nav a {
        font-size: 16px;
        text-align: center;
        padding: 0.2rem;
    }

    .info {
        padding: 0.5rem;

    }
    
    .info h2 {
        text-align: center;
    }

    


   
    .info p {
        text-align: center;
    }

    
}
